{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block name %}
    人类基因编辑
{% endblock %}

{% block content %}
    
        <div class="container">
            <h4>谢谢您的参与。</h4>
            <h4>如果你想联系我們的研究团队，或获悉此工作的的结果，请发送电子邮件 team@humanediting.org</h4>
        </div>
    
{% endblock %}