{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block content %}
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('bundles/genequestionnaire/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <h4>Thank you for completing the questionnaire</h4>
            <h4>If you would like to contact the research team or be informed of results from this work, please email team@humanediting.org</h4>
        </div>

{% endblock %}