{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block name %}
    ヒト遺伝子編集
{% endblock %}

{% block content %}
    
        <div class="container">
            <h4>ご協力ありがとうございました。</h4>
            <h4>研究チームへのご連絡、このアンケートの結果の通知を希望の場合はメールでご連絡ください team@humanediting.org</h4>
        </div>

{% endblock %}