{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block name %}
    Human Gene Editing
{% endblock %}

{% block content %}
    
        <div class="container">
            <h4>Thank you for completing the questionnaire.</h4>
            <h4>If you would like to contact the research team or be informed of results from this work, please email team@humanediting.org</h4>
        </div>

{% endblock %}