{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block name %}
    Modificacion de genes humanos
{% endblock %}

{% block content %}
   
        <div class="container">
            <h4>Gracias por completar el cuestionario.</h4>
            <h4>Si te gustaria contactar al equipo cientifico o recibir informacion sobre los resultados de este proyecto, por favor manda un email a team@humanediting.org</h4>
        </div>

{% endblock %}