{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block content %}
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('bundles/genequestionnaire/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <h4>ご協力ありがとうございました。</h4>
            <h4>研究チームへのご連絡、このアンケートの結果の通知を希望の場合はメールでご連絡ください team@humanediting.org</h4>
        </div>

{% endblock %}