{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block name %}
    Human Gene Editing
{% endblock %}

{% block content %}

        <div class="container">
            <h4>Anketi tamamladığınız için teşekkürler.</h4>
            <h4>Araştırma grubumuza ulaşmak isterseniz ya da bu çalışmanın sonuçları hakkında bilgi edinmek isterseniz lütfen bize elektronik posta atınız team@humanediting.org</h4>
        </div>

{% endblock %}