{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block content %}
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('bundles/genequestionnaire/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <h4>Merci d’avoir rempli ce formulaire</h4>
            <h4>Si vous souhaitez contacter notre équipe de recherche, ou connaître les résultats de cette enquête, envoyer-nous un email team@humanediting.org</h4>
        </div>

{% endblock %}