{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block content %}
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('bundles/genequestionnaire/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <h4>Gracias por completar el cuestionario.</h4>
            <h4>Si te gustaria contactar al equipo cientifico o recibir informacion sobre los resultados de este proyecto, por favor manda un email a team@humanediting.org</h4>
        </div>

{% endblock %}