{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block content %}
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('bundles/genequestionnaire/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <h4>प्रश्नावली को पूरा करने के लिए आपका बहुत धन्यवाद।</h4>
            <h4>आप अनुसंधान टीम से संपर्क करने के लिए या इस काम से परिणाम के बारे में सूचित किया जाना चाहते हैं, तो कृपया ईमेल- team@humanediting.org</h4>
        </div>

{% endblock %}