{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block content %}
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('bundles/genequestionnaire/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <h4>谢谢您的参与。</h4>
            <h4>如果你想联系我們的研究团队，或获悉此工作的的结果，请发送电子邮件 team@humanediting.org</h4>
        </div>

{% endblock %}