{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block name %}
    Human Gene Editing
{% endblock %}

{% block content %}

    <div class="container">
        <strong><h3>Bu tekniği siz kullanır mısınız?</h3></strong>
        <strong><h4>İnsanlığı değiştirebilecek bir teknoloji üzerinde görüşünüzü bildiriniz.</h4></strong>

        <form action="{{path('gene_questionnaire_user_tr')}}">
            <input class="btn btn-primary btn-lg" type="submit" value="Ankete başlayınız">
        </form>

        <br>
        <p>{{content[11].question}}</p>
        <p>{{content[12].question}}</p>
        <p>{{content[13].question}}</p>
    </div>

{% endblock %}