{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block name %}
    मानव जीन संपादन
{% endblock %}

{% block content %}

    <div class="container">
        <h3><strong>क्या आप करने के लिए सहमत है?</strong></h3>
        <h4><strong>मानवता को बदल सकता है कि एक तकनीक पर आपका कोई कहना है</strong></h4>

        <form action="{{path('gene_questionnaire_user_hn')}}">
            <input class="btn btn-primary btn-lg" type="submit" value="सर्वेक्षण शुरू करें">
        </form>
            
        <br>
        <p>{{content[11].question}}</p>
        <p>{{content[12].question}}</p>
        <p>{{content[13].question}}</p>
        
    </div>


{% endblock %}