{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block name %}
    ヒト遺伝子編集
{% endblock %}

{% block content %}
    <div class="container">
        <strong><h4>意志はありますか？</h4></strong>
        <strong><h4>人間性を変えることができる技術についてご意見を教えてください。</h4></strong>

        <form action="{{path('gene_questionnaire_user_jp')}}">
            <input class="btn btn-primary btn-lg" type="submit" value="アンケートを開始">
        </form>

        <br>
        <p style="font-size:90%">{{content[11].question}}</p>
        <p style="font-size:90%">{{content[12].question}}</p>
        <p style="font-size:90%">{{content[13].question}}</p>
    </div>

{% endblock %}