{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block name %}
    Human Gene Editing
{% endblock %}

{% block content %}
    <div class="container">
        <h3><strong>Would you do it?</strong></h3>
        <h4><strong>Have your say on a technology that could change humanity</strong></h4>

        <form action="{{path('gene_questionnaire_user_english')}}">
            <input class="btn btn-primary btn-lg" type="submit" value="Start Survey">
        </form>
            
        <br>
        <p>{{content[11].question}}</p>
        <p>{{content[12].question}}</p>
        <p>{{content[13].question}}</p>
    </div>
{% endblock %}