{% extends 'GeneQuestionnaireBundle::base.html.twig' %}

{% block name %}
    Modificacion de genes humanos
{% endblock %}

{% block content %}
    <div class="container">
        <strong><h4>Que harias si…</h4></strong>
        <strong><h4>Danos tu opinion sobre tecnologia que podria cambiar a la humanidad.</h4></strong>

        <form action="{{path('gene_questionnaire_user_es')}}">
            <input class="btn btn-primary btn-lg" type="submit" value="Comienza el cuestionario">
        </form>

        <br>

        <p>{{content[11].question}}</p>
        <p>{{content[12].question}}</p>
        <p>{{content[13].question}}</p>
        
    </div>

{% endblock %}